{% extends 'base.html' %}

{% block title %}
Assignment_9
{% endblock %}

{% block content  %}
{{ super() }}
    <h1>Assigment 9</h1>
    <h2>Search: </h2>
    <h3>Please inout user-name:</h3>
    <form name="search" method="GET" action="assignment9">
        <input name="username" type="text" id="username" placeholder="write here">
        <input type="submit" value="search">
    </form>
    {% if search == True %}
         {% if correctuser==false %}
              <h2> incorrect user</h2>
    {% elif correctuser==true %}
            <span>
                {% for y in users.values() %}
                    {% for x in y %}
                        {{ x }} - {{ y[x]}} <br>
                    {% endfor %} <br>
                {% endfor %}
            </span>
    {% endif %}
{% endif %}


    <h4>users:</h4>
    <ol>
         {% for users in users %}
             <li>{{ users }}</li>
         {% endfor %}
    </ol>

    <form action="/assignment9" method="GET">
         product: <input name="product" type="text">
         size: <input name="size" type="text">
         <input type="submit">
    </form>


    {% if p_name %}
         <h3> You picked a product: {{ p_name }} </h3>
    {% endif %}
    {% if p_size %}
        <h3> you picked size: {{ p_size }} </h3>
    {% endif %}

{%if session['login'] == True%}
    you are in
{% else %}
    <hr>
    <h1>Please Register: </h1>
    <form name="register" method="POST" action="assignment9">
        <input name="firstName" placeholder="First name">
        <input name="lastName" placeholder="Last name">
        <input name="email" type = email  placeholder="Email">
        <input name="userName" placeholder="User name">
        <input type="submit">
    </form>
{% endif %}


{% endblock %}